/* Fonts
Cinzel - https://fonts.google.com/specimen/Cinzel
Berkshire Swash - https://fonts.google.com/specimen/Berkshire+Swash
Cinzel Decorative - https://fonts.google.com/specimen/Cinzel+Decorative
Fontdiner Swanky - https://fonts.google.com/specimen/Fontdiner+Swanky
 */
* {
  font-family: 'Berkshire Swsh', cursive;
}

.jumbotron h1 {
  font-family: 'Fontdiner Swanky', cursive;
}

body {
  background-color: #547a8e;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2347615f' fill-opacity='0.16'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.jumbotron {
  background-image: url('./img/jumbo_background_dark.jpg');
  background-size: cover;
}

.jumbotron h1 {
  font-family: 'Fontdiner Swanky', cursive;
}
#student-input,
.start-sort {
  font-family: 'Berkshire Swsh', cursive;
}
.student-input h2 {
  font-family: 'Fontdiner Swanky', cursive;
}

.card {
  min-width: 23%;
  color: white;
}

.card-header {
  font-size: 1.3rem;
}

.card-text {
  font-size: 2rem;
}

@media (max-width: 576px) {
  html {
    font-size: 0.5rem;
  }
  .jumbotron h1 {
    font-size: 1.8rem;
  }
  .lead {
    font-size: 0rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 1rem;
  }
  .lead {
    font-size: 0rem;
  }
}
