/* Fonts
Cinzel - https://fonts.google.com/specimen/Cinzel
Berkshire Swash - https://fonts.google.com/specimen/Berkshire+Swash
Cinzel Decorative - https://fonts.google.com/specimen/Cinzel+Decorative
Fontdiner Swanky - https://fonts.google.com/specimen/Fontdiner+Swanky
 */
* {
  font-family: 'Berkshire Swsh', cursive;
}

.jumbotron h1 {
  font-family: 'Fontdiner Swanky', cursive;
}

body {
  background-image: url('./img/Old_Brick.jpg');
  background-size: cover;
}

.jumbotron {
  background-image: url('./img/jumbo_background_dark.jpg');
  background-size: cover;
}

.jumbotron h1 {
  font-family: 'Fontdiner Swanky', cursive;
}
#student-input,
.start-sort {
  font-family: 'Berkshire Swsh', cursive;
}
.student-input h2 {
  font-family: 'Fontdiner Swanky', cursive;
}

.card {
  min-width: 23%;
  color: white;
}

.card-header {
  font-size: 1.3rem;
}

.card-text {
  font-size: 2rem;
}

@media (max-width: 576px) {
  html {
    font-size: 0.5rem;
  }
  .jumbotron h1 {
    font-size: 1.8rem;
  }
  .lead {
    font-size: 0rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 1rem;
  }
  .lead {
    font-size: 0rem;
  }
}
