/* Fonts
Cinzel - https://fonts.google.com/specimen/Cinzel
Berkshire Swash - https://fonts.google.com/specimen/Berkshire+Swash
Conzel Decorative - https://fonts.google.com/specimen/Cinzel+Decorative
Fontdiner Swanky - https://fonts.google.com/specimen/Fontdiner+Swanky

 */

body {
  background-color: lightsteelblue;
}
.jumbotron {
  background-image: url('./img/jumbo_background_dark.jpg');
  background-size: cover;
}
